<h1>ユーザー詳細</h1>
<hr>

<p>name: <%= @user.name %></p>
<p>profile: <%= @user.profile %></p>

<% @flights.each do |flight| %>
  <hr>
  <p><span>email: </span><%= @user.email %></p>
  <p><span>投稿内容:</span><%= link_to flight.departure_airport, flight_path(flight.id) %></p>
<% end %>